* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
}

#board {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}

#board-details {
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

#player {
    background-image: url('../images/founder.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.obstacle {
    background-image: url('../images/judge.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}